<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <div th:replace="nav.html">

  </div>
</head>

<body>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto" >
      <h1 class="fw-light">CrudV1</h1>
      <p class="lead text-muted">
        "CrudV1" is a user-friendly web app offering essential CRUD (Create, Read, Update, Delete) operations along with efficient search and pagination functionalities. </p>
      <p>
        <a th:href="@{/clients/add}"  class="btn btn-primary my-2">Add Client</a>
        <a th:href="@{/clients/list}"  class="btn btn-secondary my-2">List of Clients</a>
      </p>
    </div>
  </div>
</section>

</body>
</html>

